.navbar-default .navbar-toggle {
    border: none;
    padding-right: 0;
    margin-right: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}

@media (min-width: 1200px) {
    .container {
        width: 1020px;
    }
    div.footer-container div.row {
        width: 1020px;
    }
}

@media(max-width:767px) {
    body {
        background: none;
    }
    .container {
        padding: 0 10px;
    }
    nav.navbar-static-top {
        border: none;
        box-shadow: none;
    }
    .navbar-left {
        float: left;
        margin-left: 0;
    }
    .navbar-right {
        float: left!important;
    }
    header div.row.border {
        text-align: center;
        padding: 0
    }
    div.row.border div {
        margin: 10px 0;
    }
    .phone a {
        font-size: 17px;
    }
    .mobile-cart {
        float: right;
        margin-top: 14px;
        margin-right: 10px;
    }
    div.main-logo {
        padding: 0;
    }
    div.main-logo img {
        width: 100%;
    }
    
    /*mobile menu */
    nav#main-links ul>li {
        border-bottom: 1px solid #ccc;
    }
    header nav.links.navbar-collapse {
        border-width: 2px;
        margin-top: 46px;
        background-color: #fefefe;
        width: 100%;
    }
    header nav.navbar ul.navbar-nav>li.first a {
        padding-left: 15px;
    }
    header .border {
        box-shadow: none;
    }
    nav#main-links ul {
        margin-left: 9px;
    }
    nav.navbar li.last,
    nav.navbar li.last a {
        text-align: left;
    }
    .mobile-links div {
        text-align: center;
        letter-spacing: 1px;
    }
    .mobile-links div.first {
        border-right: 2px solid #ccc;
    }
    .mobile-links {
        color: #777;
        font-size: 14px;
        font-style: italic;
        margin-top: 10px;
    }
    div#slider {
        margin-top: 49px;
        clear: both;
    }
    .crib-sale {
        text-align: center;
    }
    .crib-sale p.cursive {
        color: #333333;
        font-size: 26px;
        line-height: 24px;
    }
    button.btn {
        width: 50%;
    }
    
    /*footer*/
    footer section.row {
        margin-left: 0;
        margin-right: 0;
    }
    footer .glyphicon-plus {
        color: #7494b7;
        font-size: 17px;
        font-weight: normal;
    }
    footer div.navbar-header {
        border-bottom: 1px solid #ccc;
    }
    footer div.navbar-collapse {
        border-bottom: 1px solid #ccc;
        border-top: none;
    }
    div.contact {
        padding-left: 0;
    }
    section.footer-logo img {
        width: 100%;
    }
    section.copyright {
        margin-top: 14px;
        font-size: 13px;
        text-align: center;
        margin-left: 0;
    }
    section.copyright span {
        display: inline-block;
    }
    span.copyright-links {
        margin-top: 10px;
    }
    article.power {
        margin-top: 20px;
    }
    section.newsletter .navbar-form {
        margin-right: -8px;
    }
    section.newsletter form.navbar-form {
        margin-bottom: 25px;
    }
    section.newsletter button.btn {
        width: auto;
    }
    div.footer-nav div.navbar-collapse ul.navbar-nav {
        margin-left: 0;
    }
    section.footer-logo {
        float: none;
        text-align: center;
        margin-right: 0;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: #fff;
    }
    
    /*home page */
    div.featured .row {
        margin-right: -8px;
        margin-left: -8px;
    }
    
    /*Product page */
    body.product h1 {
        clear: both;
        margin-top: 50px;
    }
    section.cart-details {
        border: none;
    }
    div.product-image {
        width: 100%;
        height: 200px;
    }
    div.product-description ul {
        padding-left: 16px;
    }
    div.quantity-field {
        left: 0;
        margin-left: 26%;
    }
    section.related-products img {
        width: 100%;
    }
    section.related-products .row {
        margin-top: 10px;
    }
    section.related-products p {
        width: 100%;
        margin: 10px auto;
        font-size: 16px;
    }
    section.write-reviews div.input-group {
        width: 100%;
    }
    section.write-reviews button.btn {
        width: auto;
        margin-top: 13px;
        margin-left: 2px;   
    }
    section.write-reviews form.navbar-form,
    footer form.navbar-form {
        margin-left: -8px;
        margin-right: -8px;
    }
    section.write-reviews form.navbar-form,
    footer form.navbar-form {
        padding-left: 10px;
        padding-right: 10px;
    }
}